*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #2230d2;
}

body {
  /* position: relative; */
  height: 100vh;
  overflow-x: hidden;
}

header {
  margin: 1rem;
  vertical-align: middle;
  overflow: hidden;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header .logo {
  color: #6070ff;
  height: 20px;
  left: 12px;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
}

.desk-logo.active {
  visibility: hidden;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
}

.hamburger.active {
  margin: 20px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: #fff;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: #fff;
}

.nav-menu.active {
  position: fixed;
  left: 0;
  top: 0;
  height: 4660px;
  width: 100%;
  background-color: #6070ffd9;
  z-index: 1;
}

.desk-nav.active {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 30px 10px;
}

.home-page.active,
.about-page.active,
.contact-page.active {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  margin: 10px 20px;
  font-weight: 600;
}

.layer {
  display: none;
}

.layer.active {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: -200px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(193, 199, 208, 0.5);
  z-index: 5;
  overflow-y: scroll;
}

.popup-container,
.popup-window {
  display: none;
}

.popup-window.active {
  display: block;
  width: 90%;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 20px;
  z-index: 10;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  left: 0;
  right: 0;
}

.popup-window.active::-webkit-scrollbar {
  width: 10px;
}

.popup-window.active::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #3e4141);
  border-radius: 6px;
}

.popup-window::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #8a9dff);
}

.popup-window h2 {
  padding: 10px 15px 0;
}

.popup-window .img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.popup-window .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0;
}

.header .feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -25px;
  left: -5px;
  max-width: 100px;
}

.feature li {
  list-style: none;
  margin: 0 5px;
}

.feature .tech {
  color: #6b778c;
  line-height: 24px;
  font-weight: 400;
  position: relative;
}

.feature .tech::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
  left: -8px;
  top: 6px;
}

.feature .tech::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
  right: -8px;
  top: 6px;
}

.popup-window .close {
  outline: none;
  background-color: transparent;
  color: #67798e;
  border: none;
  font-size: 2rem;
  position: relative;
  top: -60px;
  cursor: pointer;
}

.popup-body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 10px;
}

.popup-body .details {
  color: #344563;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.popup-languages ul {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  gap: 10px;
  padding: 10px;
}

.popup-languages .supplement-desk {
  display: none;
}

.popup-languages li {
  text-align: center;
  list-style-type: none;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  border: 1px solid transparent;
  height: 24px;
  background: #ebebff;
  border-radius: 10px;
}

.popup-btn {
  display: flex;
  gap: 15px;
  flex-direction: row;
  font-size: 0.9rem;
}

.popup-btn a {
  text-decoration: none;
  color: #6070ff;
}

.live,
.source {
  border: 1px solid #6070ff;
  color: #396df2;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  font-size: 17px;
  text-transform: capitalize;
  padding: 0.5em;
  border-radius: 10px;
}

.wrapper {
  position: relative;
  height: auto;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  background-color: #e5e5e5;
}

.first-section {
  width: 100%;
  height: auto;
  background-image: url("mob-img/header-shapes\ mobile@2x.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  padding-bottom: 10px;
}

.first-section-container {
  margin: 30px 20px;
  width: 100%;
}

.primary-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 5rem 0 10px;
}

.primary-text-desk {
  display: none;
}

.intro {
  color: #344563;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
  width: 95%;
}

.social {
  margin-top: 12px;
}

.social h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: #7f8cff;
  padding-bottom: 15px;
}

.social ul {
  display: flex;
}

.social ul li {
  list-style: none;
  margin-left: -10px;
}

.desktop-work1,
.desktop-work2,
.desktop-work3,
.desktop-work4 {
  display: block;
  width: 90%;
}

.card-work button {
  color: #396df2;
  text-decoration: none;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
  border: 1px solid #6070ff;
  padding: 0.5em;
  border-radius: 10px;
  position: relative;
  left: 0;
}

.card-work button img {
  opacity: 0;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: 10px;
  width: 100%;
}

.contact button {
  width: 140px;
  height: 48px;
  padding: 12px 16px 30px 16px;
  border-radius: 8px;
  line-height: 24px;
  font-size: 17px;
  text-align: center;
  letter-spacing: 3%;
  color: #6070ff;
  font-weight: 500;
  border: 1px solid #6070ff;
  margin: 15px 0 20px;
}

.card-work button:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px #4053fc3d;
}

.card-work button:active {
  background: #2230d2;
  color: #fff;
}

.card-work button:disabled {
  color: #5e6c84;
  background: #fff;
  border-color: #5e6c84;
}

.social ul li a {
  margin: 15px;
}

.work-section {
  display: grid;
  background-color: #e5e5e5;
  padding: 30px 0 100px;
}

.work-section h2 {
  flex: none;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 12px 0;
  text-align: start;
}

.card-work {
  display: grid;
  grid-template-rows: auto;
  padding: 16px;
  height: auto;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  background-color: #fff;
  width: 100%;
  margin: -2px auto;
}

.type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.type h2 {
  display: none;
}

.type ul {
  display: flex;
  justify-content: space-between;
  width: 236px;
  position: relative;
  left: 0;
}

.type ul li {
  list-style-type: none;
  font-size: 13px;
  font-weight: 600;
}

.type .title {
  line-height: 16px;
  color: #344563;
  text-transform: uppercase;
  width: 55px;
}

.domain {
  color: #7a869a;
  line-height: 16px;
  text-transform: capitalize;
  width: 88px;
  left: -22px;
  position: relative;
}

.domain::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
  left: -9px;
  top: 3px;
}

.domain::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
  right: -6px;
  top: 4px;
}

.feature .name {
  position: relative;
  font-weight: 500;
}

.year {
  width: 29px;
  height: 16px;
  position: relative;
  left: -44px;
  line-height: 16px;
}

.description {
  position: relative;
  font-size: 15px;
  color: #344563;
  width: 295px;
  height: 76px;
  top: 20px;
}

.languages {
  margin-left: -10px;
}

.languages ul {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0 10px;
  margin: 15px 0;
}

.languages ul li {
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  list-style-type: none;
  padding: 0 10px;
}

.html {
  border: 1px solid transparent;
  width: 53px;
  height: 24px;
  padding: 0.5em;
  background: #ebebff;
  border-radius: 20px;
}

.css {
  border: 1px solid transparent;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 20px;
  padding: 0.5em;
}

.js {
  width: 89px;
  border: 1px solid transparent;
  height: 24px;
  background: #ebebff;
  border-radius: 20px;
  padding: 0.5em;
}

.about {
  border: 1px solid #fff;
  background-color: #fff;
  border-top-right-radius: 80px;
  padding: 100px 0 20px;
}

.about .left,
.mastering {
  margin: 0 20px;
}

.about h2 {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
}

.content {
  color: #344563;
  line-height: 24px;
  font-weight: 400;
}

.resume {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  letter-spacing: 0.05em;
  border: 1px solid #6070ff;
  border-radius: 10px;
  padding: 0.6em;
  display: inline-block;
  margin: 15px 0;
  animation: wiggle 2s linear infinite;
}

.resume:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px #4053fc3d;
}

.resume:active {
  background: #2230d2;
  color: #fff;
}

.resume:disabled {
  color: #5e6c84;
  background: #fff;
  border-color: #5e6c84;
}

.mastering .icone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  background-color: #f7f7f9;
  margin: 5px 0;
  padding: 5px 0;
}

.mastering .icone span {
  display: inline;
  margin: 0;
  position: relative;
}

.label {
  position: relative;
  left: -100px;
  top: 13px;
  color: #253858;
}

.mastering p {
  font-weight: 500;
  font-size: 20px;
}

.mastering ul li {
  list-style-type: none;
  padding-bottom: 10px;
}

.mastering li p {
  margin: 10px 0;
}

.prog-fram,
.prog-skills {
  position: relative;
}

.prog-fram::after,
.prog-skills::after {
  content: "";
  position: absolute;
  width: 90%;
  border-bottom: 1px solid #dfe1e6;
  top: 20px;
  left: 10px;
}

.contact h2 {
  color: #fff;
  text-align: center;
  height: 56px;
  font-size: 40px;
  line-height: 56px;
  margin: 20px 0 20px;
}

.interest {
  color: #ebebff;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  margin: 0 auto 25px;
}

.contact {
  background-color: #6070ff;
  background-image: url("./mob-img/contact-form-background.png");
  background-repeat: no-repeat;
  background-position-x: 350px;
  padding: 80px 10px 10px 10px;
  border-top-left-radius: 120px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact input {
  border: 1px solid transparent;
  border-radius: 8px;
  background: #fff;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 80%;
  margin-top: 20px;
  height: 48px;
  padding-left: 5px;
}

.contact textarea {
  width: 80%;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px;
  height: 200px;
}

.contact button:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px #4053fc3d;
  color: #fff;
  border-color: #fff;
}

.contact button:active {
  background: #2230d2;
  color: #fff;
}

.contact button:disabled {
  color: #5e6c84;
  background: #fff;
  border-color: #5e6c84;
}

.frameworks,
.skills {
  position: relative;
  top: -20px;
  padding: 5px;
}

.skills {
  top: -30px;
}

.drop-icone {
  width: 12px;
  color: #acb7c3;
  opacity: 0.5;
  float: right;
  position: relative;
  right: 20px;
}

.desk-nav {
  display: none;
}

.error {
  color: #f00;
  padding: 0.5rem;
  border-radius: 10px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .home-page,
  .about-page,
  .contact-page {
    display: inline;
    text-decoration: none;
  }

  header {
    margin: 0;
    text-align: center;
    height: 100px;
    width: 100%;
    overflow-x: hidden;
  }

  header nav {
    position: fixed;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 3px 5px lightgray;
    height: 50px;
    align-items: center;
  }

  .hamburger {
    display: none;
  }

  .desk-nav {
    display: flex;
    align-items: center;
    height: 40px;
    position: relative;
    top: 0;
    right: 50px;
  }

  .desk-nav a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: #344563;
    font-weight: 500;
  }

  .desk-logo {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    height: 40px;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 100px;
  }

  .desk-logo a {
    animation-duration: 1.5s;
    animation-name: rotate;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .wrapper {
    top: 0;
    width: 100%;
  }

  .popup-window.active {
    width: 80%;
  }

  figcaption h2 {
    display: none;
  }

  .popup-window h2 {
    font-size: 2.5rem;
  }

  .popup-window .header {
    margin: 20px 30px;
  }

  .header .feature {
    width: 35%;
    top: -10px;
  }

  .domain {
    color: #6b778c;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    width: 120px;
    top: -5px;
    left: -15px;
  }

  .popup-window .close {
    outline: none;
    background-color: transparent;
    color: #67798e;
    border: none;
    font-size: 2rem;
    position: relative;
    top: -60px;
    cursor: pointer;
  }

  .popup-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    top: 30px;
    width: 90%;
  }

  .popup-body .details {
    color: #344563;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 70%;
  }

  .popup-languages ul {
    width: 60%;
    top: 10px;
  }

  .popup-languages .supplement-desk {
    display: flex;
    gap: 10px;
    padding: 10px 0 30px;
  }

  .popup-btn {
    top: 10px;
    gap: 5px;
    position: relative;
  }

  .first-section {
    height: 800px;
    background-image: url("desktop-img/Headerbg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -20px;
    border-bottom-left-radius: 200px;
  }

  .first-section-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
    margin: 0 auto;
  }

  .primary-text {
    display: none;
  }

  .primary-text-desk {
    display: block;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
    height: 122px;
    letter-spacing: 0.37px;
  }

  .intro {
    line-height: 28px;
    font-size: 20px;
    margin: 12px 0;
    width: 88%;
  }

  .work-section {
    margin: 10px;
    width: 100%;
    text-align: center;
  }

  .card-work1,
  .card-work2 {
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
    align-content: center;
    margin: 20px auto;
    border-radius: 24px;
  }

  .card-work1:hover,
  .card-work2:hover {
    border: 1px solid #a7aeff;
    cursor: pointer;
  }

  .work-img1,
  .work-img2,
  .work-img3,
  .work-img4 {
    display: none;
  }

  .desktop-work1,
  .desktop-work2,
  .desktop-work3,
  .desktop-work4 {
    display: inline;
  }

  .card-work1 img,
  .card-work2 img {
    width: 100%;
  }

  .card-work1 img:hover,
  .card-work2 img:hover {
    transform: scale(1.01);
  }

  .ordering {
    order: -1;
  }

  .type {
    display: block;
  }

  .type h2 {
    display: block;
    height: auto;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin: 12px 0;
  }

  .type ul {
    width: 294px;
  }

  .type .title {
    font-size: 18px;
    font-weight: 500;
    width: 75px;
  }

  .domain::before {
    width: 10px;
    height: 10px;
    left: 0;
    top: 6px;
  }

  .domain::after {
    width: 10px;
    height: 10px;
    right: 0;
    top: 6px;
  }

  .year {
    font-size: 18px;
    font-weight: 400;
    color: #6b778c;
    left: -33px;
  }

  .description {
    position: relative;
    font-size: 15px;
    color: #344563;
    width: calc(90% - 8px);
    height: 76px;
    top: 15px;
    text-align: justify;
  }

  .languages-desk {
    margin: 0;
    padding: 0;
    position: relative;
    top: -15px;
    left: -8px;
  }

  .card-work button {
    border-radius: 10px;
    position: relative;
    width: 124px;
    left: -80px;
  }

  .about {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    column-gap: 10px;
    border-top-right-radius: 150px;
    align-content: center;
  }

  .left {
    width: 447px;
    height: 392px;
    margin-left: 20px;
  }

  @keyframes wiggle {
    0%,
    7% {
      transform: rotate(0);
    }

    15% {
      transform: rotateZ(-15deg);
    }

    20% {
      transform: rotateZ(10deg);
    }

    25% {
      transform: rotateZ(-10deg);
    }

    30% {
      transform: rotateZ(6deg);
    }

    35% {
      transform: rotateZ(-4deg);
    }

    40%,
    100% {
      transform: rotateZ(0);
    }
  }

  .mastering {
    width: 684px;
    height: 360px;
  }

  .flex-icone {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    top: 15px;
    left: 10px;
    width: 414px;
  }

  .icone {
    position: relative;
  }

  .label {
    position: relative;
    left: -100px;
    top: 60px;
  }

  .fav-html {
    position: relative;
    left: -60px;
  }

  .fav-css {
    position: relative;
    left: -60px;
  }

  .frameworks {
    position: relative;
    top: 50px;
  }

  .skills {
    position: relative;
    top: 40px;
  }

  .prog-fram,
  .prog-skills,
  .prog-lang {
    width: 90%;
  }

  .prog-fram p,
  .prog-skills p,
  .prog-lang p {
    color: #344563;
  }

  .contact {
    background-color: #6070ff;
    background-image: url("./desktop-img/contactformbackgroundshapes.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 846px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding-top: 120px;
  }

  .interest {
    margin: 0 auto 25px;
    width: 569px;
    height: 102px;
    transition: all 0.5s;
  }

  .interest:hover {
    transform: translateX(-20px);
  }

  .form-contact {
    width: 447px;
    height: 395px;
    text-align: center;
    position: relative;
    margin: 0 auto;
  }

  .contact input {
    width: 447px;
    border-radius: 2px;
    padding: 15px;
  }

  .contact textarea {
    width: 447px;
    height: 170px;
    border-radius: 2px;
  }
}

@media screen and (min-width: 960px) {
  .card-work button {
    left: -120px;
  }
}

@media screen and (min-width: 1120px) {
  .card-work button {
    left: -150px;
  }

  .popup-window.active {
    width: 60%;
  }
}

@media screen and (min-width: 1340px) {
  .card-work button {
    left: -200px;
  }

  .left {
    margin-left: 120px;
  }
}
