*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  height: 100vh;
}
header {
  margin: 1rem;
  vertical-align: middle;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header .logo {
  color: #6070ff;
  height: 20px;
  left: 12px;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
}
header img {
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
  width: 320px;
  background: center/contain no-repeat
    url("images/header-shapes\ mobile@2x.svg");
}
.container {
  display: flex;
  flex-direction: column;
}

.primary-text {
  font-weight: 700;
  font-size: 1.8rem;
  color: #313131;
  padding: 2.8rem 0 10px;
}

.intro {
  color: #505050;
  padding: 0.2rem;
}

.social {
  margin-top: 2px;
}

.social p {
  text-transform: uppercase;
  font-weight: 500;
  color: #6070ff;
  padding-bottom: 18px;
}

.social ul {
  display: flex;
}

.social ul li {
  list-style: none;
  margin-left: -10px;
}

.social ul li a {
  margin: 15px;
}
