*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: url("images/header-background-mobile.svg") 100% no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

header h1 {
  color: #6070ff;
  height: 20px;
  left: 12px;
  top: 10px;
}
header img {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.container {
  text-align: justify;
  margin: 0 auto;
  position: relative;
}

.primary-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.details {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 330px;
  margin: 0 auto;
}

.foot {
  margin-top: 5px;
}

.connect {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  margin: 12px 0;
}

.social a {
  display: inline-block;
  margin: 7px;
}

.banner {
  position: relative;
  margin-bottom: 10px;
}

.icone-btn {
  position: absolute;
}
.big-elips {
  left: 300px;
  top: -10px;
}
.big-rect {
  left: 250px;
  top: -72px;
}

.top-circ {
  top: -50px;
  left: 100px;
}

.aside-elip {
  left: -150px;
  top: -60px;
}

.btm-elips {
  left: 300px;
}

.btm-mic {
  left: 272px;
  bottom: 50px;
}

.btn-rect {
  bottom: -100px;
  left: 160px;
}

.btn-circle {
  left: 10px;
  bottom: -30px;
}
